<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Cuotavista | Misión y Visión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='cuotavista-logo-ojo-transparent.png') }}">
  </head>

  <body class="bg-gradient-to-b from-gray-100 to-gray-300 text-gray-900">
    <!-- Cinta superior  -->
    <div class="bg-white w-full py-4 px-6 flex items-center justify-between shadow-md">
      <a href="/" class="text-xs text-blue-600 hover:underline font-medium">← Volver</a>
      <img src="{{ url_for('static', filename='cuotavista-high-resolution-logo.png') }}" alt="Logo" class="h-10 lg:h-16" />
      <div class="w-16"></div> <!-- Espaciador para balancear layout -->
    </div>

    <!-- Misión -->
    <section class="min-h-[50vh] flex flex-col items-center justify-center text-center px-6 py-16">
      <h1 class="text-4xl lg:text-5xl font-bold mb-6">Misión</h1>
      <p class="text-gray-700 max-w-3xl">
        Simplificar la gestión financiera personal a través de herramientas automatizadas, fomentando decisiones inteligentes e informadas.
    </p>
    </section>

    <!-- Visión -->
    <section class="min-h-[50vh] flex flex-col items-center justify-center text-center px-6 py-16 bg-gray-100">
      <h2 class="text-4xl lg:text-5xl font-bold mb-6">Visión</h2>
      <p class="text-gray-700 max-w-3xl">
        Ser una herramienta accesible y confiable para ayudar a las personas en Uruguay a entender y mejorar su gestión financiera mediante el análisis automatizado de sus gastos.
      </p>
    </section>

    <!-- Footer -->
    <footer class="bg-white text-gray-700 py-6 text-center text-sm shadow-inner">
      <p class="text-red-600 font-bold uppercase tracking-wide mb-2">Importante</p>
      <p class="mt-4 text-gray-500 max-w-2xl mx-auto px-4">
        <b>Este es un proyecto personal y experimental</b>. No se recolectan datos de los estados de cuenta ni se persigue ningún fin comercial. Busco simplemente ofrecer una herramienta útil de análisis para usuarios de tarjetas de crédito uruguayas.
      </p>
      <p>Contacto: <a href="mailto:cuotavista@gmail.com" class="text-blue-600 hover:underline">cuotavista@gmail.com</a></p>
    </footer>
  </body>
</html>
